.draggableNavBar {
    /* border: 2px solid green; */
    width: 700px;
    /* Change the height in the future as it is extremely hacky */
    height: 50%;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}

.draggableClock {
    z-index: 0;
    grid-column: 1;
    grid-row: 1;
    height: 100px;
    width: 500px;
    justify-self: center;
    align-self: center;
}

.draggableTimer {
    z-index: 0;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: right;
}

.draggablePlayer {
    z-index: 0;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: left;
}



