.timer {
	/*display: grid;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-content: center;*/
	font-family: "Roboto Mono";
	font-size: 20px ;
	text-shadow: 2px 2px 2px black;
	cursor: pointer;
	border: 2px solid white;
}

.timer:active {
	cursor: grab;
}