.clock {
	display: grid;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-content: center;
	font-family: Courier New;
	font-size: 75px ;
	text-shadow: 2px 2px 2px black;
	cursor: pointer;
}

.clock:active {
	cursor: grab;
}
